@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mulish-font{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root{
    --btn-color:rgb(255, 255, 255);
    --btn-bg:rgb(255, 84, 0);
    --black-light:rgb(66, 66, 71);
    --white-primary:rgb(255, 255, 255);
    --black-primary:rgb(19, 19, 24);
    --card-border-1:rgba(251, 181, 99, 0.2);
    --card-border-2:rgba(41, 206, 246, 0.2);
    --card-border-3:rgba(233, 68, 68, 0.2);
    --card-bg-1:rgba(251, 181, 99, 0.05);
    --card-bg-2:rgba(41, 206, 246, 0.05);
    --card-bg-3:rgba(233, 68, 68, 0.05);
    --gray-light:rgb(90, 90, 93);
}

/* common style start */
.d-flex{
    display: flex;
    align-items: center;
}
.btn{
color:var(--btn-color) ;
font-size: 1.25rem;
font-weight: 800;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
border-radius: 0.5rem;
background:var(--btn-bg) ;
padding: 0.9rem 2rem;
border: none;
cursor: pointer;
}
a{
    text-decoration: none;
}
.nav-items{
    list-style: none;
}
.container{
    max-width: 1170px;
    width: 90%;
    margin: auto;
}
.tour-title{
  color:var(--black-primary) ;
font-size: 2.5rem;
font-weight: 800;
line-height: 3.12rem;
letter-spacing: 0%;
}
.sub-tour-content{
  color: var(--gray-light);
  opacity: 0.7;
font-size: 1rem;
font-weight: 400;
line-height: 1.6rem;
letter-spacing: 0%;
margin: 1.5rem auto;
}
.card-title{
  color: var(--black-primary);
font-size: 1.5rem;
font-weight: 800;
line-height: 1.9rem;
letter-spacing: 0%;
 }
/* common style end */

/* header section start */
 header .nav-section{
    justify-content: space-between;
    margin: 3rem auto;
 }
 .logo .logo-title{
         font-size: 2.25rem;
         font-weight: 800;
         line-height: 2.8rem;
         letter-spacing: 0%;

  }
  .logo{
    gap: 1rem;
  }
  .logo-title .span{
    color: var(--btn-bg);
  }
  .nav .nav-items .nav-item{
    margin-right: 2.75rem;
    
  }
  .nav-items .nav-item .nav-link{
    color:var(--black-light);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.44rem;
    letter-spacing: 0%;
    cursor: pointer;
  }
  .nav-item .nav-link:hover{
    color: var(--btn-bg);
  }
  .nav-section .bar{
    display: none;
  }

 /* banner section start */

.banner{
  background:linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%) , url("../assets/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner .banner-section .banner-content .banner-title{
  color:var(--white-primary) ;
  font-size: 4rem;
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: 0%;

}
.banner .banner-section .banner-content .sub-banner-content{
  color: var( --white-primary);
font-size: 1rem;
font-weight: 400;
line-height: 1.6rem;
letter-spacing: 0%;
margin: 2rem auto;
}

.banner-form .form{
  padding: 1rem;
  border: none;
  color: rgba(19, 19, 24, 0.5);
font-size: 1rem;
font-weight: 400;
line-height: 1.25rem;
letter-spacing: 0%;
border-radius: 0.5rem;
backdrop-filter: blur(4px);
width: 10rem;
height: 3.25rem;

}
.banner-form{
 background-color: rgba(255, 255, 255, 0.3);
 padding: 1rem;
 border-radius: 0.5rem;
}
.banner-form form{
  gap: 1.5rem;
}
.banner-form form .btn-1{
  color: var(--btn-color);
  background-color: var(--btn-bg);
}





 /* banner section end */





/* header section end */

/* main section start */
main{
  margin: 5rem auto;
}
main .tour-section .popular-tour{
  align-items: flex-start;
  gap: 5rem;
}

main .tour-section .popular-tour .tour-content .tour-items{
  margin-left: 1rem;
}

main .destination .destination-content{
  margin-top: 5rem;
  text-align: center;
}
main .img-section{
  margin: 3rem auto;
}
main .img-section .img-section-1{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}
main .img-section .img-section-2{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}
.img-section-2 .img-1:nth-child(1){
  grid-column: 1 / 2;
}
.img-section-2 .img-1:nth-child(2){
  grid-column: 2 / 4;
}
.img-section-2 .img-1:nth-child(3){
  grid-column: 4 / 5;
}
main .img-section .img-section-3{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}
.img-1{
  position: relative;
}
.img-1 .img-title{
  color: var(--white-primary);
font-size: 1.75rem;
font-weight: 800;
line-height: 2.2rem;
letter-spacing: 0%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
}
.img-section .img-1 img{
  width: 100%;
  height: 18.75rem;
}
main .choose .choose-content{
  text-align: center;
}
.card .card-title{
  color: var(--black-primary);
font-size: 1.5rem;
font-weight: 800;
line-height: 1.9rem;
letter-spacing: 0%;
}
.sub-choose{
  margin-top: 3rem;
}
.sub-choose .card-section-1{
  gap: 1rem;
}
 .card{
border-radius: 1rem;
padding: 2rem;
 }

 .card img{
  margin-bottom: 1rem;
 }
.sub-choose .card-section-1 .card:nth-child(1){
border: 1px solid var(--card-border-1);
background: var(--card-bg-1);

}
.sub-choose .card-section-1 .card:nth-child(2){
border: 1px solid var(--card-border-2);
background: var(--card-bg-2);

}
.card-section-2 .card{
border: 1px solid var( --card-border-3);
background: var(--card-bg-3);
width: 50%;
margin: 1rem auto;
}
main .deal .deal-content{
  text-align: center;
  margin: 5rem auto 3rem;
}
.satorini{
  position: relative;
  margin-bottom: 1rem;
}
.satorini img{
  width: 100%;
}

.satorini:nth-child(even) .book-option{
border: 2px solid var(--white-primary);
border-radius: 1rem;
backdrop-filter: blur(5px);
background: rgba(255, 255, 255, 0.8);
position: absolute;
top: 13%;
right: 5%;
padding: 3rem;
width: 40%;
}
.satorini:nth-child(odd) .book-option{
border: 2px solid var(--white-primary);
border-radius: 1rem;
backdrop-filter: blur(5px);
background: rgba(255, 255, 255, 0.8);
position: absolute;
top: 13%;
left: 5%;
padding: 3rem;
width: 40%;
}
.book-option .nav-items{
  gap: 1rem;
  margin-bottom: 1rem;
}
.fa-solid{
  color: var(--btn-bg);
}
.book-link{
  color:var(--gray-light) ;
font-size: 1rem;
font-weight: 400;
line-height: 1.25rem;
letter-spacing: 0%;
}
.price{
  color: var( --btn-bg);
font-size:1.25rem;
font-weight: 800;
line-height: 1.6rem;
letter-spacing: 0%;
margin-bottom: 1rem;

}
.book-option .sub-tour-content{
  margin: 0.5rem 0rem;
}
.package-btn{
  text-align: center;
  margin: 3rem auto 5rem;
}
.place-list{
  color: var(--black-primary) !important;
  opacity: 1;
}
main .last{
  margin: 5rem auto;
}
.last .news{
 
border: 1px solid var(--btn-bg);
border-radius: 1rem;
padding: 2.5rem;

}

.news input{
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background: rgba(19, 19, 24, 0.05);
  border: none;
}
.news .btn{
  width: 100%;
  margin-top: 1rem;
}
hr.last-hr{
  color: var( --black-primary);
  opacity: 0.1;
  margin-bottom: 1rem;
}
.news input::placeholder{
  color: var( --black-primary);
  opacity: 0.3;
font-size: 1rem;
font-weight: 400;
line-height: 1.25rem;
letter-spacing: 0%;
}
.news-img{
  width: 100%;
  height: 100%;
  text-align: right;
}
.news-img{
  position: relative;
}
.news-img .adds{
position: absolute;
border-radius: 1rem;
background: var(--btn-bg);
top: 60%;
left: 56%;
text-align: center;
padding: 1.5rem;
transform: rotate(-45deg) translate(48px);
}
.adds .adds-content{
  color: var(--white-primary);
font-size: 1.5rem;
font-weight: 400;
line-height: 1.9rem;
letter-spacing: 0%;
}
.adds .adds-title{
color: var(--white-primary);
font-size: 2rem;
font-weight: 800;
line-height: 2.5rem;
letter-spacing: 0%;
}

/* main section end */

/* footer section start */
footer{
  background: rgba(19, 19, 24, 0.05);
  padding: 5rem;
}
footer .footer-section .logo{
  justify-content: center;
 
}
footer .footer-section .content-section{
  width: 50%;
  margin: auto;
  text-align: center;
}
.sub-tour-content.f-content{
  opacity: 1;
}
.nav-items.f-items{
  gap: 2rem;
  margin: 2rem auto 3rem;
  justify-content: center;
}
.fa-brands{
  font-size: 1.5rem;
  color: var(--black-primary);
}
.sub-tour-content.f-content.Reserved{
  margin-top: 3rem;
}










/* footer section end */